.body-container {
    width: 100%;
    min-height: 1200px;
    min-width: 300px;
    background-color: rgb(201, 191, 191);
}

.content-block1,
.content-block2 {
    display: flex;
    align-items: center;
    width: 80%;
    height: 300px;
    padding: 30px;
    font-size: 24px;
    box-sizing: border-box;
}

.content-block1 {
    color: blue;
    background-color: yellow;
    margin: 50px auto;
    
}

.content-block2 {
    color: yellow;
    background-color: red;
    margin: 0 auto;
}

.button {
    width: 20%;
    height: 50px;
    background-color: gray;
    position: absolute;
    right: 40px;
    bottom: 60px;
    color: rgb(14, 35, 219);
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;

    &:hover {
        background-color: aquamarine;
    }
}
